<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated myfsm -->
      <package
            uri="http://www.example.org/myfsm"
            class="myfsm.MyfsmPackage"
            genModel="model/myfsm.genmodel"/>
   </extension>

</plugin>
